{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'Blog' %}{% endblock page_title %}


{% block content %}

    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" style="background-image: url({% static 'images/breadcrumb/breadcrumb-1.png' %});">
        <div class="banner-curve"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="inner-content clearfix text-center">
                        <div class="title wow slideInUp animated" data-wow-delay="0.3s" data-wow-duration="1500ms">
                            <h2>{% trans 'Blogs list' %}<span class="dotted"></span></h2>
                        </div>
                        <div class="breadcrumb-menu wow slideInDown animated" data-wow-delay="0.3s"
                             data-wow-duration="1500ms">
                            <ul class="clearfix">
                                <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                                <li class="active">{% trans 'Blog' %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End breadcrumb area-->

    <!--Start Blog Style2 Area-->
    <section id="blog-area" class="blog-grid-area">
        <div class="container">
            <div class="row">
                <!--Start Single blog Style-->
                {% for blog in blogs %}
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="single-blog-style1 wow fadeInLeft" data-wow-delay="100ms"
                             data-wow-duration="1500ms">
                            <div class="img-holder">
                                <div class="date-box"><h5>{{ blog.datetime_created }}</h5></div>
                                <div class="inner">
                                    <img src="{{ blog.image.url }}" alt="Awesome Image">
                                </div>
                            </div>
                            <div class="text-holder">
                                <h3 class="blog-title">
                                    <a href="blog-single.html">{{ blog.title }}<span class="round-box zoominout"></span>
                                </a>
                                </h3>

                                <ul class="meta-info">
                                    <li><span class="icon-user"></span><a href="#">{{ blog.author }}</a></li>
                                    <li><span class="icon-tag"></span><a href="#">{{ blog.source }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!--End Single blog Style-->
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <ul class="styled-pagination gray clearfix text-center">
                        <li class="prev"><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="dotted"><a href="#"><span>...</span></a></li>
                        <li><a href="#">10</a></li>
                        <li class="next"><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!--End Blog Style2 Area-->

{% endblock content %}
